<nav>
	<a class="brand-logo" href="{{ "/" | relative_url }}">
		<picture id="responsive-img">
			<source type="image/webp" media="all" srcset="{{ "/assets/images/logo.webp" | relative_url }}" alt="Extension Logo" >
			<source type="image/png" media="all" srcset="{{ "/assets/images/logo.png" | relative_url }}" alt="Extension Logo" >
			<img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Extension Logo" >
		</picture>
	</a>
	<div class="navToggle">
		<div class="icon-left"></div>
		<div class="icon-right"></div>
	</div>
	<ul class="ext-nav">
	{% for item in site.data.navigation.navigation %}
		<li {% if item.pages.size > 1 %} class="dropdown-nav" {% endif %} ><a href="{{ item.pages[0].link | relative_url }}" {% if page.url == item.pages[0].link %}class="current"{% endif %} {% if item.pages[0].id %} id="{{item.pages[0].id}}" {% endif %} >{{ item.name }}</a>
		{% if item.pages.size > 1 %}

			<ul class="dropdown">
			{% for subpage in item.pages offset:1 %}
				<li><a href="{{ subpage.link | relative_url }}" {% if page.url == subpage.link %}class="current"{% endif %}>{{ subpage.name }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
</nav>
