<nav>
	<a href="{{ "/" | relative_url }}"><img id="navLogo" src="{{ "/assets/images/logo.png" | relative_url }}"/></a>
	<ul>
	{% for item in site.data.navigation.navigation %}
		<li><a href="{{ item.pages[0].link | relative_url }}" {% if page.url == item.pages[0].link %}class="current"{% endif %}>{{ item.name }}</a>
		{% if item.pages.size > 1 %}
		
			<ul>
			{% for subpage in item.pages offset:1 %}
				<li><a href="{{ subpage.link | relative_url }}" {% if page.url == subpage.link %}class="current"{% endif %}>{{ subpage.name }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
</nav>
