//Fonts and Page Initalisation

body {
	margin: 0;
	padding: 2rem 2rem;
	font: $font-text;
}



.cta-btn-pri {
	@include btn($pri-btn-color);
}

#dropdown-btn-pri{
	@include btn($pri-btn-color);
}

.cta-btn-sec {
	@include btn($sec-btn-color);
}
.main {
	padding-top: 6rem;
}

// Navigation
