//https://codepen.io/mblode/pen/EGKCu

a {
	text-decoration: none;
	color: #3b3b3b;
	font-size: 1.7rem;
}
a:hover {
	color: #0094cc;
}



@mixin navToggle($right, $top) {
	position: absolute;
	width: 30px;
	height: 60px;
	top: $top;
	right: $right;
	transition-duration: 0.5s;
}

@mixin icon($height, $width) {
	transition-duration: 0.5s;
	position: absolute;
	height: $height;
	top: 25px;
	width: $width;
	background-color: $dark;
}

@mixin icon-before($height, $width) {
	transition-duration: 0.5s;
	position: absolute;
	width: $width;
	height: $height;
	background-color: $dark;
	content: "";
	top: -10px;
}

@mixin icon-after($height, $width) {
	transition-duration: 0.5s;
	position: absolute;
	width: $width;
	height: $height;
	background-color: $dark;
	content: "";
	top: 10px;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
}

nav{
	z-index: 100;
	width: 100%;
	max-height: 100px;
	background-color: white;
	transition-duration: 0.5s;
	transition-timing-function: swing;
	position: fixed;
	top: 0;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1), 0px 4px 8px rgba(0,0,0,0.1);
	@media screen and (min-width: $fst-breakpt) {
		overflow: visible;
	}
	.brand-logo img {
		height: 5rem;
		position: absolute;
		top: 10px;
		left: 32px;
	}

	&.open{
		max-height: 80rem;
		transition: max-height 0.5s ease-in;
	}

	h2 {
		transition: 0.5s;
		position: absolute;
		font-size: 1.75em;
		top: 15px;
		right: 32px;
		font-weight: 300;
		b {
			font-weight: 500;
		}
		@media (max-width: 768px){
			font-size: 1.5em;
			top: 16px;
			span {display: none;}
		}
	}
	.ext-nav {
		padding: 7rem 0 0 0;
		display: flex;
		margin: 0;
		flex-direction: column;
		@media screen and (min-width: $fst-breakpt) {
			padding: 0;
			flex-direction: row;
			justify-content: flex-end;
		}
		li:not(:last-child){
			border-top: 2px solid #b2b2b2;
			@media screen and (min-width: $fst-breakpt) {
				border: none;
			}
		}
	}
	ul{
		li{
			list-style: none;
			//padding: 1em 2em 1em 1.5em;
			width: 100%;
			transition: all 0.5s;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;

			a{
				display: inline-block;
				text-decoration: none;
				font-size: 1.1em;
				width: 100%;
				padding: 1rem;
				color: $dark;
				@media screen and (min-width: $fst-breakpt) {
					padding: 2.4rem;
				}
			}

			&:hover {
				@media screen and (min-width: $fst-breakpt) {
					&:not(:last-child) {
						background: $color;
					}
				}
				a {
					text-decoration: none;
				}
			}
			&:active {
				//background: darken($color, 10%);
			}
			&:last-child {
				//margin-bottom: 1em;
			}
			@media screen and (min-width: $fst-breakpt) {
				width: auto;
			}
		}
	}
	& .dropdown-nav {
		position: relative;
		overflow: hidden;
		//display: block;
		@media screen and (min-width: $fst-breakpt) {
			overflow: visible;
		}
		ul {
			padding-left: 0;
		}
		li {
			padding-left: 0;
			border-top: 0!important;
			//transition: all 0.5s;
			a {
				color: $color;
			}
		}
		div {
			@media screen and (max-width: $fst-breakpt) {
				position: absolute;
				right: 0;
				top: 0;
				height: 3.5rem;
				width: 10%;
				justify-content: center;
				align-items: center;
				display: flex;
				.arrow {
					border: solid black;
					border-width: 0 3px 3px 0;
					display: inline-block;
					padding: 3px;
					transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					&.open {
						transform: rotate(-135deg);
						-webkit-transform: rotate(-135deg);
					}
				}
			}
			@media screen and (min-width: $fst-breakpt) {
				display: none;
			}
		}
		&.open {
			@media screen and (max-width: $fst-breakpt) {
				display: flex;
				flex-direction: column;
				transition: max-height 0.5s ease-in;
				padding-bottom: 2rem;
				.dropdown {
					display: flex;
					width: 100%;
					flex-direction: column;
					a {
						padding: 1rem;
					}
				}
			}
		}

		&:hover {
			.dropdown {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.dropdown {

		display: none;
		@media screen and (min-width: $fst-breakpt) {
			box-shadow: 0px 2px 4px rgba(0,0,0,0.1), 0px 4px 8px rgba(0,0,0,0.1);
			visibility: hidden;
			display: flex;
			flex-direction: column;
			position: absolute;
			min-width: 20rem;
			left: 0;
			top: 6.4rem;
			background: white;
			transition: all 0.3s ease;
			opacity: 0;
			width: 100%;
			margin: 0;
			&:hover {
				visibility: visible;
				opacity: 1;
			}
			li {
				padding: 0;
				&:hover {
					background: #b2b2b238 !important;
				}
			}
		}
	}
}

.navToggle{
	@include navToggle(32px, 20px);

	&:hover{
			cursor: pointer;
	}

	.icon-left {
		@include icon(4px, 15px);

		&:before{
			@include icon-before(4px, 15px);
		}

		&:after{
			@include icon-after(4px, 15px);
		}
	}

	.icon-right {
		@include icon(4px, 15px);
		left: 15px;

		&:before{
			@include icon-before(4px, 15px);
		}

		&:after{
			@include icon-after(4px, 15px);
		}
	}

	&.open {
		.icon-left {
			transition-duration: 0.5s;
			background: transparent;

			&:before{
				transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
			}

			&:after{
				transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
			}
		}

		.icon-right {
			transition-duration: 0.5s;
			background: transparent;

			&:before{
				transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
			}

			&:after{
				transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
			}
		}
	}
	@media screen and (min-width: $fst-breakpt) {
		display: none;
	}
}
.x {
	padding: 0;
	margin: 0;
}
