$font-heading: normal 900 2rem "Montserrat";
$font-text: normal 600 1rem "Nunito";
$pri-btn-color: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
$sec-btn-color: linear-gradient(141deg, #b884c7 0%, #833c98 51%, #6e2784 75%);
$trd-btn-color: white;
$fst-breakpt : 1025px;
$snd-breakpt : 1025px;
$dark: rgba(0,0,0, 0.87);
$light: #efefef;
$color: #2cb5e8;
$color-sec: #6e2784;
@mixin btn($color){
	text-align: center;
	color: white;
	font-weight: 700;
	background: $color;
	padding: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}
