---
---
@font-face {
  font-family: 'Roboto Medium';
  font-style: medium;
  font-weight: 500;
  font-display: auto;
  src: local('Roboto Medium'),
       url({{ '/assets/fonts/Roboto-Medium.ttf' | relative_url }}) format('truetype'),
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: bold;
  font-weight: 700;
  font-display: auto;
  src: local('Roboto Bold'),
       url('/assets/fonts/Roboto-Bold.ttf') format('truetype'),
}
@import "main";
@import "normalize";

